.collage {
  position: relative;

  .mask {
    position: absolute;
    background-color: var(--gray);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.collage.orange {
  .mask {
    left: 32px;
    bottom: 32px;
    max-width: 488px;
    max-height: 600px;
  }
}

.collage.green {
  .mask {
    left: 32px;
    bottom: 32px;
    max-width: 728px;
    max-height: 486px;
  }
}

.decoration {
  max-width: 100%;
}

.logo {
  width: 100px;
  height: 100px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    z-index: 2;
    max-width: 100%;
  }

  &::after {
    content: "";
    position: absolute;
    width: 90px;
    height: 90px;
    background-color: var(--white);
    transform: rotate(45deg);
    z-index: 1;
  }
}

.orange .logo {
  top: 48px;
  right: -50px;
}
.green .logo {
  top: -51px;
  right: -50px;
}
