#posts-heading {
  padding-top: 100px;
  padding-bottom: 100px;
}

#posts-heading strong {
  color: var(--granite);
}

#banner-superior {
  height: 376px;
  margin-top: 125px;
  background-size: cover;
}

#banner-inferior {
  margin-top: 150px;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 -200px;
  z-index: -2;
  filter: grayscale();
}

@media (max-width: 768px) {
  #banner-superior {
    margin-top: 80px;
  }
}

#select-interesse {
  background-color: var(--orange);
  color: var(--white);
}

img {
  transition: all 400ms ease;
}

.pag-btn {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dfdfdf;
  color: inherit;
  margin-right: 5px;
  margin-left: 5px;
}

.pag-btn:hover {
  background-color: var(--dark-green);
  color: white !important;
}

.pag-btn.active {
  background-color: var(--orange);
  color: white !important;
}

#pagination {
  margin-top: 75px;
  margin-bottom: 75px;
}

#banner-content {
  max-width: 535px;
}

.top-header {
  position: absolute;
  width: 100%;
  top: 0;
  background-color: var(--green);
  z-index: 5;
  background-size: cover;
}

@media (max-width: 768px) {
  #banner-superior {
    height: 425px !important;
  }
}

@media (max-width: 992px) {
  .hero-img {
    object-position: 0 0;
  }
}

@media (max-width: 1110px) {
  #banner-superior {
    background-size: auto 100%;
    background-position-x: 75%;
    background-position-y: initial;
  }
  .top-header {
    background-image: none !important;
    background-color: var(--dark-green) !important;
  }
}
