@media (max-width: 1920px) {
  .home {
    margin-top: -85px;
  }
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Áreas de Atuação -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

#areas-de-atuacao {
  margin: 200px 0;
}

#areas-de-atuacao span {
  color: var(--carbon);
}

#areas-de-atuacao span + strong {
  color: var(--granite);
  margin-bottom: 40px;
}

.our-services strong {
  color: var(--granite);
}

.our-services small {
  color: var(--carbon);
}

.our-services img {
  margin-right: 40px;
}

.our-services > div {
  padding: 40px 0;
}

.our-services > div:last-child {
  padding-bottom: 0;
}

.our-services > div:first-child {
  padding-top: 60px;
}

.our-services > div:nth-child(2) {
  border-top: 2px solid var(--snow);
  border-bottom: 2px solid var(--snow);
}

.our-services button {
  height: 40px;
  width: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.areas-img-container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.areas-img-container img {
  display: block;
  width: 100%;
}

.areas-img-container img:first-child {
  filter: grayscale();
}

.overlay-90,
.overlay-60 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay-90 {
  background-color: var(--dark-green);
  opacity: 0.9;
  mix-blend-mode: multiply;
}

.overlay-60 {
  background-color: var(--green);
  opacity: 0.6;
  mix-blend-mode: normal;
}

.areas-logo {
  position: absolute;
  width: 137px;
  height: 137px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Sobre Nós -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

#sobre-nos {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: var(--white);
}

#sobre-nos strong {
  color: var(--granite);
  max-width: 355px;
}

.sobre-nos-text {
  color: var(--granite);
}

#sobre-nos p {
  white-space: break-spaces;
}

.mr-30 {
  margin-right: 30px;
}

.detalhe-lg {
  position: absolute;
  top: 0;
  right: 0;
}

.detalhe-sm {
  position: absolute;
  top: 0;
  right: 45px;
}

.brc-square {
  width: 270px;
  height: 280px;
  background-color: var(--dark-green);
  position: absolute;
  top: 285px;
  left: 300px;
  border-top: 5px solid var(--white);
  border-left: 5px solid var(--white);
}

.sobre-nos-img {
  margin: 40px auto;
}

.mosaic-wrapper {
  position: relative;
}

.decor-top {
  margin-right: 32px;
  margin-top: 24px;
  align-self: flex-end;
}

.decor-bottom {
  right: -72px;
}

.mosaic-wrapper img {
  object-fit: cover;
}

.mosaic-wrapper .bottom {
  margin-top: 32px;
}

.mosaic-wrapper .bottom img:last-child {
  align-self: flex-start;
  margin-left: 32px;
}

.left-img {
  width: 210px;
  height: 260px;
  margin-right: 28px;
  margin-top: 32px;
}

.right-img {
  width: 384px;
  height: 340px;
}

.bottom-img {
  width: 384px;
  height: 248px;
  margin-left: 32px;
}

@media (max-width: 768px) {
  .mosaic-wrapper img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  .bottom-img,
  .left-img,
  .mosaic-wrapper .bottom img:last-child,
  .mosaic-wrapper .bottom {
    margin: 0;
  }

  .mosaic-wrapper > div:first-child {
    gap: 18px;
  }

  .mosaic-wrapper .bottom {
    margin-top: 18px;
  }
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Galeria -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.gallery img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.gallery .col-4 {
  padding: 0;
}

.gallery .row {
  flex-wrap: nowrap;
}

@media (max-width: 768px) {
  .gallery img {
    height: 120px;
  }
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Nossa Equipe -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

#nossa-equipe {
  position: relative;
}

#nossa-equipe::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 600px;
  background-color: var(--green);
}

#nossa-equipe strong {
  color: var(--white);
  margin-top: 8px;
}

.team-title {
  padding: 110px 0;
}

.member-photo {
  position: relative;
  width: 100%;
}

.member-photo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(33, 33, 33, 0) 0%,
    rgba(26, 26, 26, 0.104167) 60.42%,
    rgba(0, 0, 0, 0.95) 100%
  );
}

.member-photo img {
  width: 100%;
  object-fit: cover;
}

.member-text {
  position: absolute;
  bottom: 0;
  padding: 80px 72px;
  z-index: 1;
}

.member-text strong {
  display: block;
  margin-bottom: 24px;
}

.member-text p {
  color: var(--snow);
}

@media (max-width: 768px) {
  .member-text {
    padding: 32px 44px;
  }
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Call To Action -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

#chamada .container {
  padding: 50px 0;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Card Post -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

#recentes {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: var(--white);
}

.recentes-title {
  position: relative;
  padding-bottom: 100px;
}

.recentes-title::after {
  content: "";
  position: absolute;
  bottom: 70px;
  width: 70px;
  height: 2px;
  background-color: var(--orange);
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Banner Superior -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

@keyframes triangle-pulse {
  from {
    fill-opacity: 0;
  }
  to {
    fill-opacity: 1;
  }
}

#banner-superior {
  height: calc(100vh - -85px);
  background-image: var(--green-left), var(--green-top), var(--black-left);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 576px) {
  .banner > div {
    margin-top: -50px;
  }
}

#banner-superior img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#banner-superior > svg {
  position: absolute;
  bottom: 61px;
  z-index: 2;
}

#banner-superior .buttons {
  display: flex;
  position: absolute;
  bottom: 120px;
  z-index: 2;
}

#banner-superior .buttons button {
  padding: 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
}

#banner-superior .buttons button:first-child {
  margin-right: 12px;
}

#banner-superior > svg path:nth-child(2) {
  animation: triangle-pulse 1s ease-in-out infinite alternate;
}

#banner-superior > svg path:nth-child(3) {
  animation: triangle-pulse 1s 1s ease-in-out infinite alternate;
}

#banner-content {
  max-width: 380px;
}

.banner {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.swipe-right * {
  animation-name: fade-right;
}

.swipe-left * {
  animation-name: fade-left;
}

.banner img,
.banner strong,
.banner span,
.banner a {
  animation-duration: 0.8s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}
.banner strong {
  animation-delay: 50ms;
}
.banner span {
  animation-delay: 150ms;
}
.banner a {
  animation-delay: 250ms;
}

.banner:not(.active) {
  display: none;
}

@keyframes fade-right {
  from {
    transform: translateX(-250px);
    opacity: 0;
  }
  to {
    transform: initial;
    opacity: 1;
  }
}

@keyframes fade-left {
  from {
    transform: translateX(250px);
    opacity: 0;
  }
  to {
    transform: initial;
    opacity: 1;
  }
}

.banner:not(.active) {
  display: none;
}

@media (min-width: 1920px) {
  .top-header {
    background-size: cover;
  }
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- FixedHeader -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
