@media (max-width: 1920px) {
  .home {
    margin-top: -85px;
  }
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Áreas de Atuação -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.fundo-areas {
  background-image: url("/img/pattern.png");
  background-color: #f9f9f9;
  padding-top: 225px;
  padding-bottom: 225px;
}

.area-card {
  display: block;
  padding: 40px 30px 47px;
  position: relative;
  box-shadow: 0 0 75px rgba(0, 0, 0, 0.05);
}

.area-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: var(--orange);

  opacity: 0;
  transform: translateY(4px);
  transition: all 350ms ease;
}

.area-card:hover::after {
  opacity: 1;
  transform: translateY(0);
}

.area-card:hover a {
  color: var(--green);
}

.area-card:hover .flecha {
  transform: translateX(0);
  opacity: 1;
}

.ler-mais:hover .flecha {
  transform: translateX(0);
  opacity: 1;
}

.area-card:hover .ler-mais {
  color: var(--green) !important;
}

.my-15-50 {
  margin-top: 15px;
  margin-bottom: 50px;
}

.pres-text {
  max-width: 372px;
}

.mr-40 {
  margin-right: 40px;
}

.ler-mais {
  color: var(--orange);
  transition: all 300ms ease;
}

.flecha {
  display: inline-block;
  opacity: 0;
  transform: translateX(-10px);
  transition: all 400ms ease;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Sobre Nós -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

#sobre-nos {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: var(--white);
}

#sobre-nos strong {
  color: var(--granite);
}

.sobre-nos-text {
  color: var(--granite);
}

.mr-30 {
  margin-right: 30px;
}

.detalhe-lg {
  position: absolute;
  top: 0;
  right: 0;
}

.detalhe-sm {
  position: absolute;
  top: 0;
  right: 45px;
}

.brc-square {
  width: 270px;
  height: 280px;
  background-color: var(--dark-green);
  position: absolute;
  top: 285px;
  left: 300px;
  border-top: 5px solid var(--white);
  border-left: 5px solid var(--white);
}

.sobre-nos-img {
  margin: 40px auto;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Nossa Equipe -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

#nossa-equipe {
  position: relative;
}

#nossa-equipe::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 600px;
  background-color: var(--green);
}

#nossa-equipe strong {
  color: var(--white);
  margin-top: 8px;
}

.team-title {
  padding: 110px 0;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Parallax -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.parallax-container {
  height: 400px;
  background-color: rgba(0, 48, 87, 0.75);
  background-image: linear-gradient(to bottom, rgba(0, 70, 128, 0.5), transparent);
}

.my-20-30 {
  margin-top: 20px;
  margin-bottom: 30px;
}

#parallax-text {
  width: 450px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Card Post -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Card Post -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

#recentes {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: var(--white);
}

.recentes-title {
  position: relative;
  padding-bottom: 100px;
}

.recentes-title::after {
  content: "";
  position: absolute;
  bottom: 70px;
  width: 70px;
  height: 2px;
  background-color: var(--orange);
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Banner Superior -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

@keyframes triangle-pulse {
  from {
    fill-opacity: 0;
  }
  to {
    fill-opacity: 1;
  }
}

#banner-superior {
  height: calc(100vh - 6px);
  background-image: var(--green-left), var(--green-top), var(--black-left), url("/img/banner-home-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#banner-superior > svg {
  position: absolute;
  bottom: 61px;
  z-index: 2;
}

#banner-superior > svg path:nth-child(2) {
  animation: triangle-pulse 1s ease-in-out infinite alternate;
}

#banner-superior > svg path:nth-child(3) {
  animation: triangle-pulse 1s 1s ease-in-out infinite alternate;
}

#banner-content {
  max-width: 380px;
  margin-bottom: 45px;
}

@media (min-width: 1920px) {
  .top-header {
    background-size: cover;
  }
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- FixedHeader -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
