@media (max-width: 1920px) {
  .home {
    margin-top: -85px;
  }
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Áreas de Atuação -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.fundo-areas {
  background-image: url("/img/pattern.png");
  background-color: #f9f9f9;
  padding-top: 225px;
  padding-bottom: 225px;
}

.area-card {
  display: block;
  padding: 40px 30px 47px;
  position: relative;
  box-shadow: 0 0 75px rgba(0, 0, 0, 0.05);
}

.area-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: var(--orange);

  opacity: 0;
  transform: translateY(4px);
  transition: all 350ms ease;
}

.area-card:hover::after {
  opacity: 1;
  transform: translateY(0);
}

.area-card:hover a {
  color: var(--green);
}

.area-card:hover .flecha {
  transform: translateX(0);
  opacity: 1;
}

.ler-mais:hover .flecha {
  transform: translateX(0);
  opacity: 1;
}

.area-card:hover .ler-mais {
  color: var(--green) !important;
}

.my-15-50 {
  margin-top: 15px;
  margin-bottom: 50px;
}

.pres-text {
  max-width: 372px;
}

.mr-40 {
  margin-right: 40px;
}

.ler-mais {
  color: var(--orange);
  transition: all 300ms ease;
}

.flecha {
  display: inline-block;
  opacity: 0;
  transform: translateX(-10px);
  transition: all 400ms ease;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Sobre Nós -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

#sobre-nos {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: white;
}

.mr-30 {
  margin-right: 30px;
}

.detalhe-lg {
  position: absolute;
  top: 0;
  right: 0;
}

.detalhe-sm {
  position: absolute;
  top: 0;
  right: 45px;
}

.brc-square {
  width: 270px;
  height: 280px;
  background-color: var(--dark-green);
  position: absolute;
  top: 285px;
  left: 300px;
  border-top: 5px solid white;
  border-left: 5px solid white;
}

.sobre-nos-img {
  margin: 40px auto;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Nossa Equipe -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

#nossa-equipe {
  padding-top: 185px;
  padding-bottom: 185px;
  background-color: #f9f9f9;
}

#nossa-equipe::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  top: 130px;
  width: 45%;
  background-color: var(--orange);
}

.overlay-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.socio-img {
  height: max-content;
}

img {
  transition: all 400ms ease;
}

.socio-img:hover img {
  transform: scale(1.15);
}

.socio-img:hover .grad-curto {
  background: transparent;
}

.grad-curto {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  height: 100px;
  z-index: 2;

  transition: all 400ms ease;
}

.grad-longo {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
  height: 200px;
  z-index: 1;
}

.desenho {
  position: absolute;
  bottom: 0;
  left: -60px;
}

.z-index-3 {
  z-index: 3;
}

#collapse-andre {
  height: 72px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#collapse-andre.active {
  height: auto;
}

#collapse-lucas {
  height: 72px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#collapse-lucas.active {
  height: auto;
}

#expand-andre svg,
#expand-lucas svg {
  transition: all 450ms ease;
}

#expand-andre svg.active,
#expand-lucas svg.active {
  transform: rotate(180deg);
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Parallax -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.parallax-container {
  height: 400px;
  background-color: rgba(0, 48, 87, 0.75);
  background-image: linear-gradient(to bottom, rgba(0, 70, 128, 0.5), transparent);
}

.parallax {
  position: fixed;
  top: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.my-20-30 {
  margin-top: 20px;
  margin-bottom: 30px;
}

#parallax-text {
  width: 450px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Card Post -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Card Post -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

#recentes {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: white;
}

.recentes-title {
  position: relative;
  padding-bottom: 100px;
}

.recentes-title::after {
  content: "";
  position: absolute;
  bottom: 70px;
  width: 70px;
  height: 2px;
  background-color: var(--orange);
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Banner Superior -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

#banner-superior {
  height: 950px;
  background-image: url("/img/banner-home.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -85px;
}

@media (min-width: 1920px) {
  .top-header {
    background-size: cover;
  }
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- FixedHeader -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.top-header {
  position: absolute;
  width: 100%;
  top: 0;
  background-image: url("/img/banner-home.png");
  background-repeat: no-repeat;
  background-color: #003057;
  z-index: 5;
}

.top-header .nav-link:focus {
  color: var(--orange) !important;
}
