@use "../../../styles/scss/mixins";

.section {
  margin-top: calc(95px + 96px);

  @include mixins.lg {
    margin-top: calc(340px + 96px);
  }

  hgroup {
    align-items: center;
  }

  h2 {
    max-width: 624px;
  }

  .text {
    max-width: 450px;
    margin: auto;
    text-align: center;
    margin-top: 32px;
  }

  :global(.container) {
    margin-top: 56px;
  }
}

.trabalhista {
  @include mixins.lg {
    margin-top: revert;
  }
}
